.itemListContainer {
    margin: 50px;
}

.tablaHabitaciones td{
    padding: 20px;
}

.fichaHab img{
    width: 200px;
    margin: 20px;
}

.btnReadMore {
    border: none;
    background-color: black;
    color: lightgray;

}