body {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', sans-serif;
}

.contenedorLista a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.6rem;
  display: flex;
  flex-direction: row;
}

.contenedorHeader {
  display: flex;
  justify-content: center;
}

.contenedorBuscador {
  margin: 3rem;
}

.rectangulo {
  height: 3rem;
  margin-right: 1rem;
  margin-top: 2rem;
}

.botonConsultar {
  height: 3rem;
  background-color: black;
  border-style: none;
  color: white;
  width: 8rem;
  text-transform: uppercase;
}

.botonConsultar:hover {
  color: gray;
}

.tituloConsulta {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}