body {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', sans-serif;
}

.contenedorLista a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.6rem;
  display: flex;
  flex-direction: row;
}

.contenedorHeader {
  display: flex;
  justify-content: center;
}

.contenedorBuscador {
  margin: 3rem;
}

.rectangulo {
  height: 3rem;
  margin-right: 1rem;
  margin-top: 2rem;
}

.botonConsultar {
  height: 3rem;
  background-color: black;
  border-style: none;
  color: white;
  width: 8rem;
  text-transform: uppercase;
}

.botonConsultar a {
  text-decoration: none;
  color: white;
}

.botonConsultar a:hover {
  color: lightgray;
}

.tituloConsulta {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.leyendaInOut {
  font-size: 1.3rem;
  color: rgb(84, 84, 84);
  text-transform: uppercase;
}

.leyendahabs {
  font-size: 1.3rem;
  text-transform: uppercase;
  text-decoration: underline;
  padding-top: 1rem;
}

.tarjeta {
  margin-top: 2rem;
}

.footerTarjeta {
  background-color: black !important;
}

.masInfo {
  color: white;
}

.botonReservar {
  margin-left: 1rem;
  border-style: none;
  background-color: black;
  color: lightgreen;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.seccionTarifas {
  margin-top: 1rem;
}

.tituloHab {
  text-transform: uppercase;
  font-weight: bolder !important;
  letter-spacing: 0.2rem;
  color: black;
}